<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a senior at
      <a class="underline-link" href="https://www.njit.edu/" target="_blank">NJIT</a> finishing my last semester before I start working full-time. I am pursuing a degree in
      <a class="underline-link" href="https://www.njit.edu/academics/major/information-technology/" target="_blank">Information Technology</a> with a specialization in <a class="underline-link" href="https://informatics.njit.edu/web-applications-specialization-courses" target="blank">Web Applications</a>, while minoring in
      <a class="underline-link" href="https://cs.njit.edu/" target="_blank">Computer Science.</a>
    </p>

    <p>
      I am excited to announce that after graduation I will be working at
      <a class="underline-link" href="https://www.fiserv.com/en.html" target="_blank"><b>Fiserv</b></a> in their rotational program as an <b>Application Developer</b> at their new site in Berkeley Heights, NJ. The new site in Berkeley Heights was filled with new technology, big rooms, and cafeteria halls.
    </p>

    <p>
      <strong>When I am not in front of a computer screen</strong>, I'm learning to cook delicious food, playing/watching sports, going to the gym, or working on new insightful projects.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
